streamlit
pandas
numpy
scikit-learn
pdfplumber
joblib
sqlalchemy
pydantic[email]
email-validator
openai
groq
python-dotenv
matplotlib
google-auth-oauthlib
google-auth
google-api-python-client
requests
python-multipart
PyJWT
